
   *{
     margin:0;
     padding:0;
     height:100vh;
     width: 100vw
    background: radial-gradient(circle, red 5%, pink 40%, #000056 60%);
    background-repeat: no-repeat;
    overflow:hidden;
   }
    #contenar{
      background-color: red;
      transform: rotate(90deg);
    }
   .other-player-box{
     height: 100vw;
     width:100px;
     transform: rotate(90deg);
     background-color: blue;
   }
    
