
   body{
     margin:0;
     padding:0px;
     height: 100vh;
     background: radial-gradient(circle, red 2%, pink 40%, #000056 80%);
     background-size: cover;
     background-repeat: no-repeat;
     overflow:hidden;
     background-attachment: fixed;
     background-size: cover;
   }
 
  #contenar{
     height: 100vw;
     width: 95vh;
     transform: rotate(90deg);
     justify-content: center;
     align-items: center ;
     display:flex;
   }
   .left-right-box{
     height:100%;
     width: 14vh;
     padding: 2%;
   }
   .left-box{
     background: linear-gradient(to right,red, transparent);
   }
   .right-box{
     background: linear-gradient(to left,red, transparent);
   }
   .clear-input-box{
     height:90%;
     width:80%;
     border:2px solid white;
    background-color:rgb(20,20,20,.2);
    box-shadow: 0px 0px 10px white;
    padding:10px;
    border-radius: 10px;
    overflow: scroll;
   }
   .clear-input-box button{
     height :32px;
     width: 70px;
     padding: 5px;
     margin-top: 13px;
     font-size: 15px;
     font-weight: 800;
     border:none;
     border-radius: 10px;
     background-color:rgba(20,20,20,.3);
     color: rgb(255, 192, 203);
       border:2px solid pink;
    box-shadow: 0px 0px 10px pink;
   }
  .clear-input-box button:active {
     color: red;
     scale: .9;
     background-color: rgba(255, 255,255, .4);
   }
  .game-bord{
    height:100vw;
    width:64vh;
    position: relative;
    left:0px;
  }
  .header {
  height: 12%;
  width: 99%;
  display: flex;
  border-bottom-right-radius: 10% 80%;
  border-bottom-left-radius: 10% 80%;
  border: 5px solid pink;
  box-shadow: 0px 4px 6px 0px pink;
  background-color: rgba(20, 25, 25,.1);
/*  background-image: linear-gradient(#2F3589, lightblue);*/
  font-size: 20px;
  font-weight: 800;
  text-shadow: 0px 0px 4px white;
}
   .header div{
     display: flex;
     justify-content: center;
     align-items:center;
   }
   #level-on-header{
     margin-left:7px;
     width: 5%;
     color: green ;
     font-size: 25px;
     position:relative;
     bottom: 10px;
   }
   #options{
     font-weight: 1000;
     width:5%;
     font-size: 25px;
     position:relative;
     bottom: 10px;
   }
   .header-logo{
    width:15%;
   }
   .header-logo img{
     height :35px;
     width: 35px;
     border-radius:50%;
     border:2px solid white ;
   }
   .points{
     width :20%;
     font-size: 25px;
   }
   #headergif img{
     height:55px;
     width:80px;
     border-radius:0px;
     border:0px;
   }
   .bord{
     height:63%;
     width:100%;
     display:flex;
      }
   .other-player-box{
     width:50px;
   }
   .other-player-box div{
     height:55px;
     width: 50px;
     text-align: center;
     color:gold;
     font-size: 10px;
     margin-top: 1px;
   }
   .other-player-box div div{
     margin-top: -2px;
     color: gold;
     font-weight: 600;
     height: 15px;
     
   }
  #random-number-bord{
   background-color: white;
   opacity :.8;
  }
   .investbutt{
     height:20%;
     width :98%;
     border-top-right-radius:10% 80%;
     border-top-left-radius:10% 80%;
      border:5px solid pink;
      border-bottom: none;
      box-shadow:0px 0px 6px 4px pink;
      background-image: linear-gradient( lightblue,#2F3589);
      padding:3px;
   }
   .investbutt div{
     width:90%;
     margin:auto;
     height: 30px;
     display: flex;
   }
   .investbutt div div{
     margin:auto;
     margin-top:15px;
     justify-content: center;
     align-items: center;
     text-shadow: 0px 0px 4px white;
   }

.investbutt div button{
  height: 50px;
  width: 40px;;
 border: none;
  margin:auto;    
  font-size:20px;
  font-weight: bold;
  border-radius:10px;  
  text-shadow: 1px 1px 1px white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0,.7) 0px 15px 12px;
 }
    .randomvalue {
      height: 50%;
      width: 100%;
      display: flex;
    }
    .randomani{
        width:30%;
        height:100%;
        max-width:100px;
        max-height:100px;
        margin:auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 3px 2px 5px rgb(20, 25, 25);
        font-size:6vh;
        overflow:hidden;
        border-radius:20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        }
   
   .other-player-box img{
    height: 40px;
    width: 40px;
    border:2px solid white ;
    border-radius:50%;
   }
   #timer-box{
  position:absolute;
  margin:auto;
  height:65%;
  width: 100vw;
  display:flex;
  visibility: hidden;
 }
#timerbox1{
  height:20vh;
  width:20vh;
  margin:auto;
 /* border:4px solid red;*/
  border-top:1vh solid red;
  border-right:1vh solid blue;
  border-bottom:1vh solid yellow;
  border-left:1vh solid green;
  border-radius:50%;
  align-items: center;
  justify-content:center;
  animation:timerbox 2s linear infinite; 
 }

#timerbox2{
 height:14vh;
 width:14vh;
 margin:auto;
 margin-top:2vh;
 font-size:12vh; 
 text-align:center;
 align-items: center;
 border-top:1vh solid red;
 border-right:1vh solid blue;
 border-bottom:1vh solid yellow;
 border-left:1vh solid green;
 border-radius:50%;
 justify-content:center;
 text-shadow: 0px 0px 10px red;
 animation:timerbox 1s linear infinite reverse; 
}
@keyframes timerbox{
 0%{
  transform:rotate(0deg);
   }
 100%{
   transform:rotate(360deg);
 }
}
#timer{
  font-weight:bold;
  text-shadow: 0px 0px 8px rgb(255,0,0);
  animation:timerbox 2s linear infinite;
}
.ani{
   width:500px;
   position:relative;
   left:00px;
   letter-spacing:10px;
   font-weight: 500;
   animation: anii 3s alternate infinite;
   animation-direction:alternate-reverse;
   animation-iteration-count: 1;
   display: none;
}
@keyframes anii {
  0% {
    left: 0px;
    color: red;
  }
  25% {
    color: yellow;
    left: -100px;
    font-size: 3vh;
  }
  50% {
    color: green;
    font-size: 4vh;
    left: -200px;
  }
  75% {
    color: pink;
    left: 00px;
    font-size: 5vh;
  }
  100% {
    left: -150px;
  }
}
#bord-gif{
  position: absolute;
  bottom:75px;
  left: 38%;
  width: 27%;
  height: 33px;
  overflow: hidden;
  display: none;
 animation:bord 1s linear 1;
 z-index: 0;
}
@keyframes bord{
  0%{ bottom:0px; }
}
#bord-gif img{
 width: 85px;
 scale: 1.4;
 border-radius: 10px;
 transform-origin: top left;
}
#total-coin{
  position: absolute;
  left:20px;
  bottom:1px;
  height: 30px;
  overflow: hidden;
  font-size: 15px;
}

#win-loss-box{
  width: 100%;
  position: relative;
  display: flex;
  bottom: 55%;
  font-weight: 900;
  font-size: 30px;
  color: green ;
  display :none;
  animation: result-box 1s linear;
}
@keyframes result-box{
  0%{opacity: 0;
    scale: 1.3;
  }
}
#win-loss{
  width: 50%;
  color:blue;
  text-align: right;
  margin-right: 5px;
}

#win{
  animation: result-win 2s linear 1 1s;
  position:relative;
  left:0px;
  bottom:0px;
}
#loss{
  animation: result-loss 2s linear 1 1s;
  position:relative;
  left:0px;
  bottom:0px;
}
@keyframes result-win{
  100%{
    position: relative;
    left: 50px;
    bottom:145px;
    font-size: 20px;
  }
}
@keyframes result-loss{
  100%{
    position: relative;
    left:-125px;
    bottom:145px;
    font-size: 20px;
  }
}
#notes{
  height:100%;
  width: 100%;
  position: relative;
  bottom: 100%;
  background-color: rgba(220,200,200,1);
 display: flex;
 justify-content: center;
 align-items:center;
 z-index: 6;
}
#level-update{
 text-align: center;
 color:green;
 font-size: 40px;
 font-weight: 1000;
}
#level{
  font-size:50px;
    text-shadow: 1px 4px 4px black;  
    animation:level-animation 2s linear;
}
@keyframes level-animation{
  0%{
    scale: 1.2;
  }
  50%{
    scale:.8;
  }
  100%{
    scale: 1;
  }
}
#level-comment{
  font-size: 20px;
  color:black;
  text-shadow: 1px 1px 2px white;  
}
/*
#clear:active {
  color: red;
  scale: .7;
  background-color:rgba(255,100,100,.8);

}
#ready:active {
  color: red;
  scale: .7;
  background-color:rgba(255,100,100,.8);
}
*/